* {
  margin: 0;
  padding: 0;

  font-family: Verdana, Tahoma, Consolas, sans;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #00f;
}

a:hover {
  color: #00f;
}

#page
{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
}

#header h1
{
	color: #00007f;
	font-size: 48px;
}


#logo
{
	float: left;
	width: 150px;
	background-color: white;
}

#logo img
{
	border: 0;
}

#header .r h1
{
	text-shadow: #6374AB 4px 4px 2px;
}

#header .r
{
	margin-left: 150px;
}

#nav
{
	padding-bottom: 5px;
	padding-top: 10px;
}


#nav ul
{
	list-style: none;
}

#nav li
{
	display: inline;
}

#nav a, #nav a:visited
{
	color: navy;
}

#nav a:hover
{
	color: White;
	background: Navy;
}

#footer{
	border-top: 1px solid black;
	font-size: 10px;
	text-align: left;
	padding: 2px;
	clear: both;
}

#main
{
	margin-top: 1em;
	margin-bottom: 1em;
	border-top: 1px solid black;
	clear: both;
	text-align: justify;
	line-height: 1.4em;
	font-size: 14px;
}

#main p
{
	padding-bottom: 1em;
}


#main h1, h2
{
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

#main h2, h4, h6
{
	font-style: italic;
}

#main ul, ol
{
	margin-left: 2em;
}

#main code, pre
{
	font-family: Courier;
}

#toc ul{
	list-style: none;
}

h1, h2, h3, h4, h5, h6
{
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover
{
	color: inherit;
}

#apps ul
{
	list-style: none;
}

#left-panel .info, #apps table
{
	border-bottom: 2px solid #4F4FFF;
}

.border-none
{
	border-bottom: none !important;
}

.info  p
{
	padding: 0 15px 0 15px;
}

hr
{
	color: #4F4FFF;
}
pre
{
	margin-bottom: 1em;
}

#feed
{
	background-color: #FF9C45;
	padding: 0;
	border: solid 1px #FF7700;
	margin-top: 5px;
	font-size: 12px;
}

#feed_content
{
	margin-left: 8px;
	margin-right: 10px;
}

#feed h1
{
	font-size: 16px;
	background-color: #FF7700;
	padding: 2px 4px 2px 4px;
	margin: 0;
	color: White;
}

#feed h2
{
	font-size: 14px;
	font-style: normal;
	padding-bottom: 0;
	margin-bottom: 0;
}