<!DOCTYPE HTML>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - lua.org.pl</title>
    <meta type="keywords" content="{{ page.keywords }}">
    <meta type="description" content="{{ page.description }}">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/anchor.min.js"></script>
    
    {% include ga.html %}
</head>

<body>
    <header class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="visible-xs-inline">{{ page.title }}</span><span class="hidden-xs">lua.org.pl</span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% for item in site.data.menu do %}
                        <li {% if page.url == item.Url %}class="active"{% endif %}><a href="{{ item.Url }}">{{ item.Name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </header>
    <div class="container theme-container">
        {{ content }}
    </div>
    <footer class="footer-line">
        <div class="container">
            <p>Ostatnia modyfikacja: {{ site.["date"] }}</p>
        </div>
    </footer>
    <script>
        anchors.options = {
        placement: 'right',
        visible: 'always'
        };
        anchors.add('.anchored h1, .anchored h2, .anchored h3, .anchored h4');
    </script>
</body>

</html>